# no .a files
*.a

*.o
# but do track lib.a, even though you're ignoring .a files above
!lib.a

# only ignore the root TODO file, not subdir/TODO
/TODO

# ignore all files in the build/ directory
# execute_me/

# ignore doc/notes.txt, but not doc/server/arch.txt
doc/*.txt

# ignore all .txt files in the doc/ directory
doc/**/*.txt

#.vscode/*

#Пока не используется
src/Mathematics/

TEST
src/Serv/test.cpp
.directory
1.code-workspace
lib/fork.c
lib/sqlite-amalgamation-3071300/shell.c
lib/sqlite-amalgamation-3071300/sqlite3ext.h
